.margin-total-val{
    margin-right: 50px;
}
.padding-top{
    padding-top: 50px;
}
.padding-right{
    padding-right: 50px;
}

.margin-bottom{
    margin-bottom: 20px;
}

.top-watch{
    float: right;
    padding-right: 27px;
    font-size: 27px;
}